*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

header{
    /* padding-bottom: 3rem; */
    height: 23vh;
    /* border: 2px solid red; */
}

body{
    background-color: black;
}

nav{
    /* border: 2px solid white; */
    padding-block: 1rem; 
    height: 22vh;  
}

.gen-layout{
    max-width: 1000px;
    margin: auto ;
}

.inner-nav{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.inner_nav_logo >img{
    height: 19vh;
}

h2{
    color: rgb(240 215 152);
    width: 7rem;
    margin-left: -3.5rem;
    margin-top: 1.5rem;
}

h2 >span{
    color: white;
}

.nav-right{
    width: 1000px;
    display: flex;
    margin-left: -2.5rem;
    margin-top: 1.5rem;
    align-items: center;
    gap: 3rem;
}

.nav-item{
    display: flex;
    gap: 3rem;
}

.nav-item > a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ffd77a;
    font-weight: 450;
}

.btn-btn > button{
    padding: .7rem 1.6rem;
    border-radius: 5px;
    background-color: #008dc1;
    border: none;
    color: #fff;
}

.btn-btn > button >span{
    margin-left: 1rem;
    width: 10rem;
}

.nav-right >span{
    color: white;
    margin-left: -2rem;
}

/* banner code  */
.banner{
    gap: 14rem;
    align-items: center;
}

.banner-content{
    width: 35%;
}

.banner-content > h1{
    font-size: 3rem;
    margin-left: 15rem;
    margin-block: 2rem;
    color: #ffd77a;
    width: 570px;
}

.banner-content > h1 > span{
    margin-left: 6rem;
}

.banner-content > p{
    color: white;
    width: 730px;
    margin-left: 15rem;
    margin-block: 2rem;
    opacity: .7;
}

.banner-content > p > span{
    margin-left: 2rem;
}